{% load bootstrap4 %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static "learning_logs/favicon.png" %}" type="image/png">
        <link rel="stylesheet" href="{% static "/learning_logs/open-iconic-master/font/css/open-iconic-bootstrap.css" %}">
        <title>Лучший сайт что я видел</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static "learning_logs/css/microstyle.css" %}">
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #2C3E50;">
                <a class="navbar-brand" href="{% url 'learning_logs:index' %}" style="font-style:italic; font-weight:bolder">
                    <img src="{% static "/learning_logs/denis.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
                    На главную
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'learning_logs:topics' %}">Темы<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Тут снизу все остальные пункты меню
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Ладно</a>
                            <a class="dropdown-item" href="#">Нет других пунктов</a>
                            <a class="dropdown-item" href="#">Меня рассекретили</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Типо сверху линия имеется, лол</a>
                        </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Неактивная кнопочка</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link disabled">Дороу, {{ user.username }}. </a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'users:logout' %}">Выход</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Вход</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">регистрация</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        <div class="marketing">
            <div class="container">
                {% block header %}{% endblock header %}
            </div>

            {% block content %}{% endblock content %}
            <hr class="featurette-divider">
            <div class="container">
                <footer>
                    <div class="row">
                        <p class="col-4">&copy; 2108 The Best, Inc</p>
                        <p class="col-7">
                            Мемесы с Денисом сюда --> <a href="https://vk.com/kozhanov_daniil"><img style="height: 2rem;" src="{% static "learning_logs/vk-icon.svg" %}"/></a>
                        </p>
                        <p class="col-1"><a href="#">Наверх</a></p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>

