{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
    <h2>Тема: <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a> </h2>
    <h2>Редактировать запись:</h2>
    <h4>P.S.удалять их нельзя потому что мне лень доделывать суит</h4>
{% endblock header %}

{% block content %}
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button class="btn btn-primary" name="sumbit">Сохранить</button>
        {% endbuttons %}
    </form>
{% endblock content %}