{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block header %}
    <div style="margin-top: 3rem; margin-bottom: 3rem">
        <h2>Создать новую тему:</h2>
        <hr>
    </div>
{% endblock header %}

{% block content %}
    <div class="container" style="margin-bottom: 10rem">
        <form action="{% url 'learning_logs:new_topic' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button class="btn btn-primary" name="sumbit">Создать тему</button>
            {% endbuttons %}
        </form>
    </div>
{% endblock content %}