{% extends "learning_logs/base.html" %}

{% block header %}
    <h1>Темы</h1>
    <p><a href="{% url 'learning_logs:new_topic' %}">Добавить новую тему</a></p>
{% endblock header %}

{% block content %}

<ul>
    {% for topic in topics %}
        <li>
            <h4><a href={% url 'learning_logs:topic' topic.id %}>
                {{ topic }}</a><small>(добавил {{ topic.owner }})</small></h4>
        </li>
    {% empty %}
        <h4><li>Ни одной темы не создано.</li></h4>
    {% endfor %}
</ul>

{% endblock content %}